
/* 颜色变量 */

/* 行为相关颜色 */
$color-primary: #007aff;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;

/* 文字基本颜色 */
$text-color:#333;//基本色
$text-color-inverse:#fff;//反色
$text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$text-color-placeholder: #808080;
$text-color-disable:#c0c0c0;
$text-color-bbb:#bbb;
$text-color-a:#4d4d8e;
$text-error: #dd524d;

/* 背景颜色 */
$bg-color:#ffffff;
$bg-color-0:#000000;
$bg-color-grey:#f8f8f8;
$bg-color-hover:#f1f1f1;//点击状态颜色
$bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色
$bg-color-button:#58bf6b;
$bg-color-4c:#4c4c4c;
$bg-color-5fe477:#5fe477;


/* 边框颜色 */
$border-color:#c8c7cc;
$border-color-grey:#f8f8f8;
$border-color-6c:#6c6c6c;

/* 尺寸变量 */
$button-width:180px;

/* 文字尺寸 */
$font-size-sm:12px;
$font-size-13:13px;
$font-size-base:14px;
$font-size-15:15px;
$font-size-lg:16px;

/* 图片尺寸 */
$img-size-sm:20px;
$img-size-base:26px;
$img-size-lg:40px;

/* Border Radius */
$border-radius-sm: 2px;
$border-radius-base: 3px;
$border-radius-4: 4px;
$border-radius-lg: 6px;
$border-radius-circle: 50%;

/* 水平间距 */
$spacing-row-sm: 5px;
$spacing-row-base: 10px;
$spacing-row-lg: 15px;

/* 垂直间距 */
$spacing-col-sm: 4px;
$spacing-col-base: 8px;
$spacing-col-lg: 12px;

/* 透明度 */
$opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$color-title: #2C405A; // 文章标题颜色
$font-size-title:20px;
$color-subtitle: #555555; // 二级标题颜色
$font-size-subtitle:26px;
$color-paragraph: #3F536E; // 文章段落颜色
$font-size-paragraph:15px;


/* 导航宽*/
$nav-width:260px;

/* header高*/
$header-height:55px; 